<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Donation Page</title>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  >
</head>

<body>
  <div class="container mt-5">
    <div class="jumbotron">
      <h1>Welcome to our donation page!</h1>
      <p class="lead">Would you like to donate $19.99?</p>

      <form action="{{ url_for('create_checkout_session') }}" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">
          Donate $19.99
        </button>
      </form>
    </div>
  </div>
</body>
</html>
